In [1]:
# importar biblioteca pandas
import pandas as pd

In [2]:
sergipe_df = pd.read_csv('DNSE2017.csv', encoding='utf-8')
sergipe_df.head(3)

,contador,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,...,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,STDNEPIDEM,STDNNOVA,CODPAISRES,TPROBSON,PARIDADE,KOTELCHUCK
0,1,1,2415631.0,230440,1,24,2.0,4.0,999992.0,1.0,...,NaN,0.0,NaN,12.0,0,1,NaN,5,1,9
1,2,1,2005050.0,270030,1,34,5.0,4.0,622020.0,3.0,...,NaN,3.0,5042017.0,6.0,0,1,NaN,3,1,3
2,3,1,2005050.0,270030,1,19,2.0,4.0,622020.0,NaN,...,NaN,3.0,3042017.0,6.0,0,1,NaN,11,0,5

In [3]:
sergipe_df.columns

Index(['contador', 'ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE',
       'ESTCIVMAE', 'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT',
       'CODMUNRES', 'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC',
       'HORANASC', 'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL',
       'DTCADASTRO', 'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM',
       'DIFDATA', 'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU',
       'ESCMAE2010', 'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT',
       'QTDPARTNOR', 'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC',
       'TPMETESTIM', 'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART',
       'STCESPARTO', 'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC',
       'ESCMAEAGR1', 'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON',
       'PARIDADE', 'KOTELCHUCK'],
      dtype='object')

In [13]:
# Transformar em dados quantitativos continuos - medições
sergipe_df['PESO'] = pd.to_numeric(sergipe_df['PESO'])
sergipe_df['IDADEMAE'] = pd.to_numeric(sergipe_df['IDADEMAE'])
sergipe_df['IDADEPAI'] = pd.to_numeric(sergipe_df['IDADEPAI'])
sergipe_df['APGAR1'] = pd.to_numeric(sergipe_df['APGAR1'])
sergipe_df['APGAR5'] = pd.to_numeric(sergipe_df['APGAR5'])

In [14]:
# Transformar em dados quantitativos discretos - contagem

sergipe_df['QTDFILVIVO'] = pd.to_numeric(sergipe_df['QTDFILVIVO']).astype(pd.Int64Dtype())
sergipe_df['QTDFILMORT'] = pd.to_numeric(sergipe_df['QTDFILMORT']).astype(pd.Int64Dtype())
sergipe_df['SEMAGESTAC'] = pd.to_numeric(sergipe_df['SEMAGESTAC']).astype(pd.Int64Dtype())
sergipe_df['CONSPRENAT'] = pd.to_numeric(sergipe_df['CONSPRENAT']).astype(pd.Int64Dtype())
sergipe_df['SERIESCMAE'] = pd.to_numeric(sergipe_df['SERIESCMAE']).astype(pd.Int64Dtype())
sergipe_df['QTDPARTNOR'] = pd.to_numeric(sergipe_df['QTDPARTNOR']).astype(pd.Int64Dtype())
sergipe_df['QTDGESTANT'] = pd.to_numeric(sergipe_df['QTDGESTANT']).astype(pd.Int64Dtype())

In [15]:
# 1. Qual a média da idade da mãe, peso, apgar 1 min, apgar 5 min, quantidade de filhos vivos e quantidade de filhos mortos?

round(sergipe_df[['IDADEMAE', 'PESO', 'QTDFILVIVO','QTDFILMORT', 'APGAR1', 'APGAR5']].mean(), 2)

IDADEMAE        26.15
PESO          3223.20
QTDFILVIVO       1.12
QTDFILMORT       0.31
APGAR1           8.44
APGAR5           9.53
dtype: float64

In [16]:
# 2. Qual a idade tal que metade das idades das mães são menores que ela (mediana)?

round(sergipe_df[['IDADEMAE']].median(), 2)

IDADEMAE    26.0
dtype: float64

In [17]:
# 3. Qual o apgar de 1 min que mais aparece (moda)?

round(sergipe_df[['APGAR1']].mode(), 2)

   APGAR1
0     9.0

In [18]:
# 4. Qual o apgar de 5 minutos que mais aparece?

round(sergipe_df[['APGAR5']].mode(), 2)

   APGAR5
0    10.0

In [19]:
# 5. Qual o peso da criança tal que 10% dos pesos são menores (P10)?

quantis_P10 = round(sergipe_df['PESO'].quantile([0.1]), 2)
quantis_P10

0.1    2570.0
Name: PESO, dtype: float64

In [20]:
# 6. Qual o peso da criança tal que 10% dos pesos são menores (P10)?

quantis_P10 = round(sergipe_df['PESO'].quantile([0.1]), 2)
quantis_P10

0.1    2570.0
Name: PESO, dtype: float64

In [22]:
# 7. Qual a quantidade de filhos mortos que mais aparece?

sergipe_df[['QTDFILMORT']].mode()

   QTDFILMORT
0           0

In [32]:
# 8. Qual a média de idade de mães solteiras?

sergipe_df[sergipe_df['ESTCIVMAE'] == 1.0]['IDADEMAE'].mean()

24.929703822047436

In [38]:
# 9.   Qual a quantidade de filhos vivos das mães com até 3 anos de escolaridade tal que 25% dessa quantidade são menores (Q1)?
escolaridade = sergipe_df[(sergipe_df['ESCMAE'] == 1) | (sergipe_df['ESCMAE'] == 2)]
escolaridade['QTDFILVIVO'].quantile(0.25)

1.0

In [37]:
#10.   Qual a moda da idade das mães para as crianças que nasceram com anomalia congênita?
anomalia = sergipe_df[sergipe_df['IDANOMAL'] == '1']
moda = sergipe_df[['IDADEMAE', 'IDANOMAL']]
moda = moda.mode()
moda

   IDADEMAE  IDANOMAL
0        20       2.0
1        21       NaN